<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dadi.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity 
            android:name="com.dadi.customer.android.views.SplashActivity" 
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dadi.customer.android.views.MainActivity" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.dadi.customer.android.views.LoginAccountActivity"></activity>
        <activity android:name="com.dadi.customer.android.views.CityActivity"></activity>
        <activity android:name="com.dadi.customer.android.views.ConditionActivity" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.dadi.customer.android.views.PickUpDropOffActivity" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.dadi.customer.android.views.ToActivity" android:windowSoftInputMode="stateHidden"></activity>
        
    </application>

</manifest>